.hero-bg {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("../public/images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 40em;

}

.min-width{
    min-width: 20em;
}
.iframeBoite{
    width: 100%;
    height: 450px;
    margin-top: 1em;
}
.iframe{
    width: 100%;
    height: 100%;
    border: 0;
}

.tailleText{
    width: 100%;
    height: 100%;
}
