@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
  font-family: "Nunito Sans", sans-serif !important;
  font-weight: 400 !important;
}

h1, h2, h3, h4, strong {
  font-weight: 600 !important;
}



.hero-bg {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("../public/images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 40em;

}

.min-width{
    min-width: 20em;
}
.iframeBoite{
    width: 100%;
    height: 450px;
    margin-top: 1em;
}
.iframe{
    width: 100%;
    height: 100%;
    border: 0;
}

.tailleText{
    width: 100%;
    height: 100%;
}

.droite{
    margin-left: auto;
}

.decoration{
    text-decoration: none;
    color: white;
}

.listeStyle{
    list-style: none;
    padding: 0%;
}
