.hero-bg {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("../public/images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 40em;

}

.min-width{
    min-width: 20em;
}
